#ref-table {
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-collapse: collapse;
}

#ref-table thead {
    border-bottom: 2px solid black;
}

#ref-table .hbar {
    position: absolute;
    background-color: black;
    height: 1px;
    width: calc(100% - 1em);
    left: 0.5em;
    bottom: 0;
}

#ref-table th, #ref-table td {
    position: relative;
    padding: 0.5em 1em;
    text-align: center;
}

#ref-table a {
    display: inline-block;
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
    text-decoration: none;
    color: inherit;
    transition-duration: 0.2s;
}

#ref-table a:hover {
    background-color: #CCE5FF;
    color: #001021;
    transition-duration: 0s;
}

.tooltipster-ref {
    border-radius: 5px; 
    border: 1px solid #404040;
    background: #EDEDED;
    color: #404040;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
    font-size: 0.8em;
    text-align: center;
    max-width: 33%;
}
.tooltipster-ref .tooltipster-content {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
}

.tooltipster-ref h3 {
    margin-top: 0;
}

.tooltipster-ref .authors, .tooltipster-ref .book-title {
    margin-top: 1em;
}
.tooltipster-ref .book-title {
    font-style: italic;
}