<div class="prop-selector-selection-wrapper">
    <strong>Selected properties: </strong>{{#each selectedProperties ~}}
        {{#unless @first}} / {{/unless}}<span class="prop-selector-selection">{{this}}</span>
    {{/each ~}}
    </div>
<div class="prop-selector-av-wrapper">
    <strong>Available properties: </strong>
    {{~#each remainingProperties ~}}
        {{#unless @first}} / {{/unless~}}
        <span class="prop-selector-av{{#ifIn this ../unavailableProperties}} unavailable{{/ifIn}}" >{{this}}</span>
    {{/each ~}}
</div>
